extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Suspendisse sollicitudin est velit, id dapibus enim rhoncus viverra. Quisque eu nunc sit amet felis vehicula convallis vitae aliquet erat. Phasellus ac scelerisque velit. Curabitur iaculis nec orci sodales vehicula. Maecenas turpis eros, tristique vel mi vel, auctor semper purus. Mauris feugiat, libero ut euismod porttitor, justo velit consectetur enim, vitae lobortis diam sem eu neque.

                p Vivamus nec lectus hendrerit purus mattis vehicula. Donec et neque quis magna aliquam pretium. Suspendisse luctus ultrices arcu, eget iaculis turpis elementum quis. Nulla rutrum, sem sit amet volutpat bibendum, risus libero efficitur elit, id sodales dolor odio sed dolor. Quisque egestas leo vel sapien consequat, id elementum magna vehicula. Sed tortor metus, auctor congue semper sit amet, tincidunt quis quam.

                p Mauris commodo, ex quis cursus facilisis, velit augue feugiat ipsum, commodo feugiat libero nulla nec nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed egestas arcu vitae sem viverra, vel malesuada dui aliquam. Donec iaculis purus eget dui rhoncus, eu efficitur turpis pretium. Proin viverra dolor a elit ultricies, ac ultricies ante maximus. Aenean et lacinia risus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Donec iaculis purus eget dui rhoncus, eu efficitur turpis pretium. Proin viverra dolor a elit ultricies, ac ultricies ante maximus. Aenean et lacinia risus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Donec iaculis purus eget dui rhoncus, eu efficitur turpis pretium. Proin viverra dolor a elit ultricies, ac ultricies ante maximus. Aenean et lacinia risus.
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Donec iaculis purus eget dui rhoncus, eu efficitur turpis pretium. Proin viverra dolor a elit ultricies, ac ultricies ante maximus. Aenean et lacinia risus.